build/
out/
.gradle/
.gradle-user-home/
.gradle-test-home/

.idea/
*.iml

*.class
*.exe

CppSolution/.vs/
CppSolution/Debug/
CppSolution/Release/
CppSolution/x64/
CppSolution/*.sdf
CppSolution/*.suo
CppSolution/*.user
gradle/wrapper/gradle-wrapper.jar
